.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #b3dbff;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: #00ff80;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #b3dbff;
}

.mini-grid div {    
    height: 20px;
    width: 20px;
}